body.boxed-layout .main-container {
    background: #fff;
  }
  .main-container {
    clear: both;
  }
  .main-container>a:first-child+.parallax .background-image-holder {
    top: 0;
  }
  .widget .image-slider {
    margin: 0;
  }
  .image-slider {
    position: relative;
  }
  .image-slider .slides {
    position: relative;
    overflow: hidden;
  }
  .image-slider .slides li {
    position: relative;
  }
  .image-slider .slides li>img {
    width: 100%;
  }
  .row .image-slider {
    margin-bottom: 24px;
  }
  .image-slider.height-70 .slides li {
    height: 70vh;
    min-height: 600px;
  }
  @media all and (max-width: 767px) {
    .image-slider.height-70 .slides li {
        height: auto;
        min-height: none;
        padding: 80px 0;
    }
    .image-slider.height-70 .v-align-transform {
        top: 0;
        transform: none;
        -webkit-transform: none;
    }
  }
  .cover.fullscreen.image-slider {
    padding: 0;
}
.product-single .image-slider .label {
    font-size: 12px;
    text-transform: uppercase;
    position: absolute;
    z-index: 3;
    top: 16px;
    right: 16px;
  }
  .parallax .slides li>.background-image-holder {
    height: 100vh;
    top: -50vh;
    transition: all 0s ease !important;
    transition: opacity 0.3s ease !important;
    -webkit-transform-style: preserve-3d;
  }
  .parallax:first-child .slides li>.background-image-holder,
.parallax:first-child .background-image-holder {
  top: 0;
}
@media all and (max-width: 767px) {

    .parallax>.background-image-holder,
    .parallax .slides li>.background-image-holder {
        top: 0 !important;
        transform: none !important;
        -webkit-transform: none !important;
    }
  }
  .widget .twitter-feed .slides li {
    margin-bottom: 24px;
  }
  
  .widget .twitter-feed .slides li:last-child {
    margin-bottom: 0;
  }
  
  .widget .twitter-feed .slides li:nth-of-type(n+3) {
    display: none;
  }
  
  .widget .twitter-feed .slides li:before {
    position: relative;
    top: 6px;
    float: left;
    display: inline-block;
    margin-right: 8px;
    color: #292929;
    content: "\e74b";
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 13px;
  }
  .bg-dark .widget .twitter-feed .slides li:before {
    color: #fff;
  }
  .image-slider .slides {
    position: relative;
    overflow: hidden;
  }
  
  .image-slider .slides li {
    position: relative;
  }
  
  .image-slider .slides li>img {
    width: 100%;
  }
  .image-slider.height-70 .slides li {
    height: 70vh;
    min-height: 600px;
  }
  
  @media all and (max-width: 767px) {
    .image-slider.height-70 .slides li {
        height: auto;
        min-height: none;
        padding: 80px 0;
    }
  
    .image-slider.height-70 .v-align-transform {
        top: 0;
        transform: none;
        -webkit-transform: none;
    }
  }
  @media all and (max-width: 767px) {
    .logo-carousel .slides li {
        width: 100%;
    }
  }
  .kenburns .slides li:nth-of-type(odd) .background-image-holder {
    animation: kenBurnsEast 25s linear infinite alternate;
    -webkit-animation: kenBurnsEast 25s linear infinite alternate;
  }
  
  .kenburns .slides li:nth-of-type(even) .background-image-holder {
    animation: kenBurnsWest 25s linear infinite alternate;
    -webkit-animation: kenBurnsWest 25s linear infinite alternate;
  }
  @media all and (max-width: 767px) {
    .kenburns .slides li .background-image-holder {
        animation: none !important;
        -webkit-animation: none !important;
    }
  }
  .cover.fullscreen .slides>li {
    height: 100vh;
  }
  
  .cover .slides li .container {
    z-index: 4;
    position: relative;
  }
  @media all and (max-width: 767px) {
    .cover .align-bottom {
        padding: 0 15px;
    }
  
    .cover .align-bottom.relative-xs {
        position: relative;
        bottom: 0;
    }
  
    .cover.fullscreen {
        height: auto;
        padding: 80px 0;
    }
  
    .cover.fullscreen.image-slider {
        padding: 0;
    }
  
    .cover.fullscreen .container {
        top: 0;
        transform: none;
        -webkit-transform: none;
    }
  
    .cover.fullscreen .slides li {
        height: auto;
        padding: 80px 0;
    }
  }
