body.boxed-layout .main-container {
    background: #fff;
  }
  .main-container {
    clear: both;
  }
  .main-container>a:first-child+.parallax .background-image-holder {
    top: 0;
  }
  .widget .image-slider {
    margin: 0;
  }
  .image-slider {
    position: relative;
  }
  .image-slider .slides {
    position: relative;
    overflow: hidden;
  }
  .image-slider .slides li {
    position: relative;
  }
  .image-slider .slides li>img {
    width: 100%;
  }
  .row .image-slider {
    margin-bottom: 24px;
  }
  .image-slider.height-70 .slides li {
    height: 70vh;
    min-height: 600px;
  }
  @media all and (max-width: 767px) {
    .image-slider.height-70 .slides li {
        height: auto;
        min-height: none;
        padding: 80px 0;
    }
    .image-slider.height-70 .v-align-transform {
        top: 0;
        transform: none;
        -webkit-transform: none;
    }
  }
  .cover.fullscreen.image-slider {
    padding: 0;
}
.product-single .image-slider .label {
    font-size: 12px;
    text-transform: uppercase;
    position: absolute;
    z-index: 3;
    top: 16px;
    right: 16px;
  }
  .parallax .slides li>.background-image-holder {
    height: 100vh;
    top: -50vh;
    transition: all 0s ease !important;
    transition: opacity 0.3s ease !important;
    -webkit-transform-style: preserve-3d;
  }
  .parallax:first-child .slides li>.background-image-holder,
.parallax:first-child .background-image-holder {
  top: 0;
}
@media all and (max-width: 767px) {

    .parallax>.background-image-holder,
    .parallax .slides li>.background-image-holder {
        top: 0 !important;
        transform: none !important;
        -webkit-transform: none !important;
    }
  }
  .widget .twitter-feed .slides li {
    margin-bottom: 24px;
  }
  
  .widget .twitter-feed .slides li:last-child {
    margin-bottom: 0;
  }
  
  .widget .twitter-feed .slides li:nth-of-type(n+3) {
    display: none;
  }
  
  .widget .twitter-feed .slides li:before {
    position: relative;
    top: 6px;
    float: left;
    display: inline-block;
    margin-right: 8px;
    color: #292929;
    content: "\e74b";
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 13px;
  }
  .bg-dark .widget .twitter-feed .slides li:before {
    color: #fff;
  }
  .image-slider .slides {
    position: relative;
    overflow: hidden;
  }
  
  .image-slider .slides li {
    position: relative;
  }
  
  .image-slider .slides li>img {
    width: 100%;
  }
  .image-slider.height-70 .slides li {
    height: 70vh;
    min-height: 600px;
  }
  
  @media all and (max-width: 767px) {
    .image-slider.height-70 .slides li {
        height: auto;
        min-height: none;
        padding: 80px 0;
    }
  
    .image-slider.height-70 .v-align-transform {
        top: 0;
        transform: none;
        -webkit-transform: none;
    }
  }
  @media all and (max-width: 767px) {
    .logo-carousel .slides li {
        width: 100%;
    }
  }
  .kenburns .slides li:nth-of-type(odd) .background-image-holder {
    animation: kenBurnsEast 25s linear infinite alternate;
    -webkit-animation: kenBurnsEast 25s linear infinite alternate;
  }
  
  .kenburns .slides li:nth-of-type(even) .background-image-holder {
    animation: kenBurnsWest 25s linear infinite alternate;
    -webkit-animation: kenBurnsWest 25s linear infinite alternate;
  }
  @media all and (max-width: 767px) {
    .kenburns .slides li .background-image-holder {
        animation: none !important;
        -webkit-animation: none !important;
    }
  }
  .cover.fullscreen .slides>li {
    height: 100vh;
  }
  
  .cover .slides li .container {
    z-index: 4;
    position: relative;
  }
  @media all and (max-width: 767px) {
    .cover .align-bottom {
        padding: 0 15px;
    }
  
    .cover .align-bottom.relative-xs {
        position: relative;
        bottom: 0;
    }
  
    .cover.fullscreen {
        height: auto;
        padding: 80px 0;
    }
  
    .cover.fullscreen.image-slider {
        padding: 0;
    }
  
    .cover.fullscreen .container {
        top: 0;
        transform: none;
        -webkit-transform: none;
    }
  
    .cover.fullscreen .slides li {
        height: auto;
        padding: 80px 0;
    }
  }
  .image-bg hr {
    border-color: #fff;
    opacity: .6;
  }
  
  .image-bg.bg-light hr {
    border-color: #ccc;
    opacity: 1;
  }
  .image-bg a,
.bg-primary a {
  color: #fff;
}

.image-bg a:hover,
.bg-primary a:hover {
  color: #fff;
  opacity: .9;
}
.image-bg h1,
.image-bg h2,
.image-bg h3,
.image-bg h4,
.image-bg h5,
.image-bg h6 {
  color: #ffffff;
}

.image-bg p,
.image-bg span,
.image-bg li {
  color: #ffffff;
}

.image-bg .container,
.image-bg div[class*='col-'] {
  position: relative;
  z-index: 3;
}

.container.image-bg .row {
  position: relative;
  z-index: 3;
}
.image-bg .btn,
.image-bg .btn:visited {
  color: #fff;
  border-color: #fff;
}

.btn-white:hover,
.image-bg .btn:hover,
.image-bg .btn:visited:hover {
  background: #fff;
  color: #222;
}

.image-bg .btn.btn-filled,
.image-bg .btn-filled:visited {
  border-color: #13181d;
}

.image-bg .btn-filled:hover {
  border-color: #fff;
}
.image-bg.bg-light .icon {
    color: #292929;
  }
  
  .image-bg .icon,
  .bg-dark .icon {
    color: #fff;
  }
  .image-bg input[type="text"],
.image-bg textarea {
  color: #555;
}

.image-bg.bg-light input.transparent,
.image-bg.bg-light button.transparent {
  border-color: #292929;
}
.image-bg .icon-tabs .active .tab-title i {
    color: #fff;
  }
  .image-bg .breadcrumb li a {
    color: #fff;
    opacity: .8;
  }
  
  .image-bg .breadcrumb li a:hover {
    opacity: 1;
  }
  
  .image-bg .breadcrumb li.active {
    color: #fff;
  }
  .image-bg .feature i {
    color: #fff;
  }
  
  .image-bg .feature h1,
  .image-bg .feature h2,
  .image-bg .feature h3,
  .image-bg .feature h4,
  .image-bg .feature h5,
  .image-bg .feature h6 {
    color: #ffffff;
  }
  
  .image-bg .feature p,
  .image-bg .feature span,
  .image-bg .feature li {
    color: #ffffff;
  }
  
  .image-bg .feature.bordered {
    border-color: rgba(255, 255, 255, 0.4);
  }
  
  .image-bg .feature.boxed {
    background: rgba(34, 34, 34, 0.4);
  }
  .image-bg .flex-control-nav li a {
    border-color: #fff;
  }
  
  .image-bg .flex-control-nav li a.flex-active {
    background: #fff;
  }
  .image-bg .text-slider .flex-direction-nav li a:before {
    color: #fff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: .5;
  }
  
  .image-bg .text-slider .flex-direction-nav li a:hover:before {
    opacity: 1;
  }
  .image-bg.bg-light h1,
.image-bg.bg-light h2,
.image-bg.bg-light h3,
.image-bg.bg-light h4,
.image-bg.bg-light h5,
.image-bg.bg-light h6 {
  color: #222222;
}

.image-bg.bg-light p,
.image-bg.bg-light span,
.image-bg.bg-light li {
  color: #777777;
}
.image-block,
.image-block .image-bg {
  padding: 0;
  height: 50vw;
  max-height: 700px;
}
.image-block-right .image-bg {
    position: absolute;
    top: 0;
  }
  @media all and (max-width: 768px) {
    .image-block {
        height: auto;
        max-height: 1000000px;
    }
  
    .image-block .image-bg {
        height: 350px;
    }
  
    .image-block .v-align-transform {
        top: 0;
        transform: none;
        -webkit-transform: none;
    }
  
    .image-block-right .image-bg {
        position: relative;
    }
  }
  .image-bg .countdown {
    color: #fff;
  }
  .foundry_modal.image-bg .close-modal,
.foundry_modal.no-bg .close-modal {
  color: #fff;
}
.background-image-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #292929;
    background-size: cover !important;
    background-position: 50% 50% !important;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 0;
  }
  
  .background-image-holder img {
    display: none;
  }
  
  .background-multiply .background-image-holder {
    background-color: #13181d !important;
    background-blend-mode: multiply;
  }
  
  .background-image-holder.fadeIn {
    opacity: 1;
  }
  
  .parallax>.background-image-holder,
  .parallax .slides li>.background-image-holder {
    height: 100vh;
    top: -50vh;
    transition: all 0s ease !important;
    transition: opacity 0.3s ease !important;
    -webkit-transform-style: preserve-3d;
  }
  
  .parallax:first-child .slides li>.background-image-holder,
  .parallax:first-child .background-image-holder {
    top: 0;
  }
  
  .main-container>a:first-child+.parallax .background-image-holder {
    top: 0;
  }
  
  @media all and (max-width: 767px) {
  
    .parallax>.background-image-holder,
    .parallax .slides li>.background-image-holder {
        top: 0 !important;
        transform: none !important;
        -webkit-transform: none !important;
    }
  }
  .tile-right:hover .background-image-holder,
.tile-left:hover .background-image-holder {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.kenburns .slides li:nth-of-type(odd) .background-image-holder {
    animation: kenBurnsEast 25s linear infinite alternate;
    -webkit-animation: kenBurnsEast 25s linear infinite alternate;
  }
  
  .kenburns .slides li:nth-of-type(even) .background-image-holder {
    animation: kenBurnsWest 25s linear infinite alternate;
    -webkit-animation: kenBurnsWest 25s linear infinite alternate;
  }
  @media all and (max-width: 767px) {
    .kenburns .slides li .background-image-holder {
        animation: none !important;
        -webkit-animation: none !important;
    }
  }
  .vid-bg .background-image-holder {
    display: none;
    z-index: 0;
  }
  @media all and (max-width: 1024px) {
    .vid-bg .background-image-holder {
        display: block;
    }
  
    .vid-bg .player {
        display: none;
    }
  
    .vid-bg .container.fadeOut {
        opacity: 1;
    }
  
    .vid-bg .masonry-loader {
        display: none;
    }
  }
  .local-video-container .background-image-holder {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    top: 0;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.26);
  }
  
  .background-image-holder.fadeout {
    opacity: 0 !important;
    z-index: 0;
  }
  .foundry_modal *:not(.background-image-holder):not(.close-modal) {
    z-index: 4;
    position: relative;
  }
  .v-align-transform {
    position: relative;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    top: 50%;
    z-index: 2;
  }
  @media all and (max-width: 1280px) {
    .feature-5 {
        height: auto;
        padding: 80px 48px;
    }
  
    .feature-5 .v-align-transform {
        top: 0;
        transform: none;
        -webkit-transform: none;
    }
  }
  @media all and (max-width: 767px) {
    .image-slider.height-70 .slides li {
        height: auto;
        min-height: none;
        padding: 80px 0;
    }
  
    .image-slider.height-70 .v-align-transform {
        top: 0;
        transform: none;
        -webkit-transform: none;
    }
  }
  @media all and (max-width: 768px) {
    .image-block {
        height: auto;
        max-height: 1000000px;
    }
  
    .image-block .image-bg {
        height: 350px;
    }
  
    .image-block .v-align-transform {
        top: 0;
        transform: none;
        -webkit-transform: none;
    }
  
    .image-block-right .image-bg {
        position: relative;
    }
  }
  @media all and (max-width: 767px) {
    .mb-xs-0 {
        margin-bottom: 0;
    }
  
    .mb-xs-8 {
        margin-bottom: 8px;
    }
  
    .mb-xs-16 {
        margin-bottom: 16px;
    }
  
    .mb-xs-24 {
        margin-bottom: 24px;
    }
  
    .mb-xs-32 {
        margin-bottom: 32px;
    }
  
    .mb-xs-40 {
        margin-bottom: 40px;
    }
  
    .mb-xs-48 {
        margin-bottom: 48px;
    }
  
    .mb-xs-64 {
        margin-bottom: 64px;
    }
  
    .mb-xs-72 {
        margin-bottom: 72px;
    }
  
    .mb-xs-80 {
        margin-bottom: 80px;
    }
  
    .mb-xs-88 {
        margin-bottom: 88px;
    }
  
    .mb-xs-96 {
        margin-bottom: 96px;
    }
  
    .mb-xs-104 {
        margin-bottom: 104px;
    }
  
    .mb-xs-112 {
        margin-bottom: 112px;
    }
  
    .mb-xs-120 {
        margin-bottom: 120px;
    }
  
    .mt-xs-0 {
        margin-top: 0 !important;
    }
  
    .mt-xs-8 {
        margin-top: 8px;
    }
  
    .mt-xs-16 {
        margin-top: 16px;
    }
  
    .mt-xs-24 {
        margin-top: 24px;
    }
  
    .mt-xs-32 {
        margin-top: 32px;
    }
  
    .mt-xs-40 {
        margin-top: 40px;
    }
  
    .mt-xs-48 {
        margin-top: 48px;
    }
  
    .mt-xs-56 {
        margin-top: 56px;
    }
  
    .mt-xs-64 {
        margin-top: 64px;
    }
  
    .mt-xs-72 {
        margin-top: 72px;
    }
  
    .mt-xs-80 {
        margin-top: 80px;
    }
  
    .mt-xs-88 {
        margin-top: 88px;
    }
  
    .mt-xs-96 {
        margin-top: 96px;
    }
  
    .mt-xs-104 {
        margin-top: 104px;
    }
  
    .mt-xs-112 {
        margin-top: 112px;
    }
  
    .mt-xs-120 {
        margin-top: 120px;
    }
  
    .p0-xs {
        padding: 0;
    }
  
    .pt-xs-0 {
        padding-top: 0;
    }
  
    .pt-xs-8 {
        padding-top: 8px;
    }
  
    .pt-xs-16 {
        padding-top: 16px;
    }
  
    .pt-xs-24 {
        padding-top: 24px;
    }
  
    .pt-xs-32 {
        padding-top: 32px;
    }
  
    .pt-xs-40 {
        padding-top: 40px;
    }
  
    .pt-xs-48 {
        padding-top: 48px;
    }
  
    .pt-xs-64 {
        padding-top: 64px;
    }
  
    .pt-xs-72 {
        padding-top: 72px;
    }
  
    .pt-xs-80 {
        padding-top: 80px;
    }
  
    .pt-xs-88 {
        padding-top: 88px;
    }
  
    .pt-xs-96 {
        padding-top: 96px;
    }
  
    .pt-xs-104 {
        padding-top: 104px;
    }
  
    .pt-xs-112 {
        padding-top: 112px;
    }
  
    .pt-xs-120 {
        padding-top: 120px;
    }
  
    .pt-xs-160 {
        padding-top: 160px;
    }
  
    .pt-xs-180 {
        padding-top: 180px;
    }
  
    .pt-xs-240 {
        padding-top: 240px !important;
    }
  
    .pb-xs-0 {
        padding-bottom: 0;
    }
  
    .pb-xs-8 {
        padding-bottom: 8px;
    }
  
    .pb-xs-16 {
        padding-bottom: 16px;
    }
  
    .pb-xs-24 {
        padding-bottom: 24px;
    }
  
    .pb-xs-32 {
        padding-bottom: 32px;
    }
  
    .pb-xs-40 {
        padding-bottom: 40px;
    }
  
    .pb-xs-48 {
        padding-bottom: 48px;
    }
  
    .pb-xs-64 {
        padding-bottom: 64px;
    }
  
    .pb-xs-72 {
        padding-bottom: 72px;
    }
  
    .pb-xs-80 {
        padding-bottom: 80px;
    }
  
    .pb-xs-88 {
        padding-bottom: 88px;
    }
  
    .pb-xs-96 {
        padding-bottom: 96px;
    }
  
    .pb-xs-104 {
        padding-bottom: 104px;
    }
  
    .pb-xs-112 {
        padding-bottom: 112px;
    }
  
    .pb-xs-120 {
        padding-bottom: 120px;
    }
  
    .pb-xs-180 {
        padding-bottom: 180px;
    }
  
    .pb-xs-240 {
        padding-bottom: 240px !important;
    }
  }
  .mb40 {
    margin-bottom: 40px;
  }
  .btn-lg {
    height: 50px;
    line-height: 46px;
    min-width: 200px;
  }
  .btn-icon.btn-lg {
    width: 50px;
    height: 50px;
    line-height: 49px;
    font-size: 24px;
    min-width: 0;
  }
  .bg-secondary blockquote {
    background: #fff;
    border-color: #13181d;
  }
  .bg-secondary {
    background: #f8f8f8;
  }
  .bg-secondary input[type="text"],
.bg-secondary textarea,
.bg-secondary select {
  background: #fff;
}
.bg-secondary .accordion-1 .title {
    background: #ebebeb;
  }
  
  .bg-secondary .accordion-1 .title:hover {
    background: #e4e4e4;
  }
  .bg-secondary .button-tabs .tab-title {
    background: #eee;
  }
  .bg-secondary .feature.boxed {
    background: #fff;
  }
  .v-align-children {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
  }
  .v-align-children-column {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  @media all and (max-width: 990px) {
    .v-align-children {
        display: block !important;
    }
  }
  .embed-video-container {
    width: 100%;
    position: relative;
    display: inline-block;
  }
  
  .embed-video-container iframe {
    border: none;
    width: 100%;
    height: 312px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }
  
  .modal-video .embed-video-container {
    width: 80%;
    max-height: 800px;
  }
  
  @media all and (max-width: 767px) {
    .embed-video-container iframe {
        height: 200px;
    }
  }
  .post-snippet .embed-video-container {
    margin-bottom: 24px;
  }
  
  .post-snippet .embed-video-container iframe {
    margin: 0;
  }
  .btn-filled {
    background: #13181d;
    color: #fff;
  }
  .image-bg .btn.btn-filled,
.image-bg .btn-filled:visited {
  border-color: #13181d;
}

.image-bg .btn-filled:hover {
  border-color: #fff;
}
.bg-light .btn-filled,
.bg-light .btn-filled:visited {
  color: #fff;
}
.btn-filled:visited {
    color: #fff;
  }
  .btn-white,
.image-bg .btn,
.image-bg .btn:visited {
  color: #fff;
  border-color: #fff;
}
.btn-white:visited,
.btn:visited:hover {
  color: #fff;
}

.btn-white:visited:hover {
  color: #222;
}
.btn-white .form-loading {
    border: 3px solid #c8c8c8;
  }
  .mb8 {
    margin-bottom: 8px;
  }
  .tabbed-content .content>li {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    display: none;
  }
  
  .tabbed-content .content .active {
    opacity: 1;
    visibility: visible;
    display: block;
  }
  .button-tabs .tabs {
    display: inline-block;
    overflow: hidden;
  }
  
  .button-tabs .tabs>li {
    margin-bottom: 8px;
    float: left;
  }
  
  .button-tabs .tabs>li:last-child {
    margin-right: 0;
  }
  
  .button-tabs .tab-title {
    padding: 13px;
    display: inline-block;
    text-align: center;
    min-width: 150px;
    background: #f5f5f5;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
  }
  
  .bg-secondary .button-tabs .tab-title {
    background: #eee;
  }
  
  .button-tabs .tab-title span {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
  }
  
  .button-tabs .active .tab-title {
    background: #13181d;
    color: #fff;
  }
  
  .button-tabs .tab-title:hover {
    background: #eee;
  }
  
  .button-tabs .active .tab-title:hover {
    background: #13181d;
  }
  
  .button-tabs.vertical {
    overflow: hidden;
  }
  
  .button-tabs.vertical>.tabs {
    max-width: 30%;
    float: left;
  }
  
  .button-tabs.vertical>.content {
    padding-left: 3%;
    max-width: 70%;
    float: right;
  }
  
  .button-tabs.vertical>.tabs li,
  .button-tabs.vertical .tab-title {
    width: 100%;
  }
  
  .button-tabs.vertical>.tabs li {
    margin-bottom: 10px;
  }
  
  .bg-dark .button-tabs .tab-title span {
    color: #222;
  }
  
  @media all and (max-width: 767px) {
    .button-tabs .tabs li {
        width: 49%;
        margin-bottom: 15px;
    }
  
    .button-tabs.vertical .tabs,
    .button-tabs.vertical .content {
        max-width: 100%;
        width: 100%;
        padding-left: 0;
    }
  }
  .masonryFlyIn .masonry-item {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
  }
  
  .masonryFlyIn .masonry-item.fadeIn {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
  }
  .bg-dark {
    background: #292929;
  }
  .vid-bg .masonry-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
  }
  @media all and (max-width: 1024px) {
    .vid-bg .background-image-holder {
        display: block;
    }
  
    .vid-bg .player {
        display: none;
    }
  
    .vid-bg .container.fadeOut {
        opacity: 1;
    }
  
    .vid-bg .masonry-loader {
        display: none;
    }
  }
  .masonry-loader {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 1;
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 80px;
  }
  
  .masonry-loader.fixed-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    margin-top: -25px;
  }
  
  .masonry-loader.fadeOut {
    opacity: 0;
    max-height: 0;
    padding: 0;
    overflow: hidden;
  }
  .spinner {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 2px 1px 0px #13181d;
    -moz-animation: spin 0.7s linear infinite;
    -webkit-animation: spin 0.7s linear infinite;
    animation: spin 0.7s linear infinite;
    display: inline-block;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
  }
  .masonry {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    -webkit-transform: translate3d(0, 100px, 0);
    -moz-transform: translate3d(0, 100px, 0);
  }
  
  .masonry.fadeIn {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
  }
  
  .masonry-item {
    max-width: 100%;
  }
  
  .container .masonry-item {
    margin-bottom: 30px;
  }
  
  .masonry-item blockquote:hover {
    background: #13181d;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    color: #fff;
  }
  
  .masonryFlyIn .masonry-item {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
  }
  
  .masonryFlyIn .masonry-item.fadeIn {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
  }
  
  .masonry-loader {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 1;
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 80px;
  }
  
  .masonry-loader.fixed-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    margin-top: -25px;
  }
  
  .masonry-loader.fadeOut {
    opacity: 0;
    max-height: 0;
    padding: 0;
    overflow: hidden;
  }
  .pb64 {
    padding-bottom: 64px;
  }
  .pt64 {
    padding-top: 64px;
  }
  .mb0 {
    margin-bottom: 0 !important;
  }
  /*!---------- 36. SPACING ----------*/
.mr0 {
    margin-right: 0;
  }
  
  .mb0 {
    margin-bottom: 0 !important;
  }
  
  .mb8 {
    margin-bottom: 8px;
  }
  
  .mb16 {
    margin-bottom: 16px;
  }
  
  .mb24 {
    margin-bottom: 24px;
  }
  
  .mb30 {
    margin-bottom: 30px;
  }
  
  .mb32 {
    margin-bottom: 32px;
  }
  
  .mb40 {
    margin-bottom: 40px;
  }
  
  .mb48 {
    margin-bottom: 48px;
  }
  
  .mb56 {
    margin-bottom: 56px;
  }
  
  .mb64 {
    margin-bottom: 64px;
  }
  
  .mb72 {
    margin-bottom: 72px;
  }
  
  .mb80 {
    margin-bottom: 80px;
  }
  
  .mb88 {
    margin-bottom: 88px;
  }
  
  .mb96 {
    margin-bottom: 96px;
  }
  
  .mb104 {
    margin-bottom: 104px;
  }
  
  .mb112 {
    margin-bottom: 112px;
  }
  
  .mb120 {
    margin-bottom: 120px;
  }
  
  .mb160 {
    margin-bottom: 160px;
  }
  
  .mt0 {
    margin-top: 0 !important;
  }
  
  .mt8 {
    margin-top: 8px;
  }
  
  .mt16 {
    margin-top: 16px;
  }
  
  .mt24 {
    margin-top: 24px;
  }
  
  .mt32 {
    margin-top: 32px;
  }
  
  .mt40 {
    margin-top: 40px;
  }
  
  .mt48 {
    margin-top: 48px;
  }
  
  .mt56 {
    margin-top: 56px;
  }
  
  .mt64 {
    margin-top: 64px;
  }
  
  .mt72 {
    margin-top: 72px;
  }
  
  .mt80 {
    margin-top: 80px;
  }
  
  .mt88 {
    margin-top: 88px;
  }
  
  .mt96 {
    margin-top: 96px;
  }
  
  .mt104 {
    margin-top: 104px;
  }
  
  .mt112 {
    margin-top: 112px;
  }
  
  .mt120 {
    margin-top: 120px;
  }
  
  .mt160 {
    margin-top: 160px;
  }
  
  .p32 {
    padding: 0 32px;
  }
  
  .p24 {
    padding: 24px;
  }
  
  .p0 {
    padding: 0;
  }
  
  .pt0 {
    padding-top: 0;
  }
  
  .pt8 {
    padding-top: 8px;
  }
  
  .pt16 {
    padding-top: 16px;
  }
  
  .pt24 {
    padding-top: 24px;
  }
  
  .pt32 {
    padding-top: 32px;
  }
  
  .pt40 {
    padding-top: 40px;
  }
  
  .pt48 {
    padding-top: 48px;
  }
  
  .pt64 {
    padding-top: 64px;
  }
  
  .pt72 {
    padding-top: 72px;
  }
  
  .pt80 {
    padding-top: 80px;
  }
  
  .pt88 {
    padding-top: 88px;
  }
  
  .pt96 {
    padding-top: 96px;
  }
  
  .pt104 {
    padding-top: 104px;
  }
  
  .pt112 {
    padding-top: 112px;
  }
  
  .pt120 {
    padding-top: 120px;
  }
  
  .pt160 {
    padding-top: 160px;
  }
  
  .pt180 {
    padding-top: 180px;
  }
  
  .pt240 {
    padding-top: 240px;
  }
  
  .pb0 {
    padding-bottom: 0;
  }
  
  .pb8 {
    padding-bottom: 8px;
  }
  
  .pb16 {
    padding-bottom: 16px;
  }
  
  .pb24 {
    padding-bottom: 24px;
  }
  
  .pb32 {
    padding-bottom: 32px;
  }
  
  .pb40 {
    padding-bottom: 40px;
  }
  
  .pb48 {
    padding-bottom: 48px;
  }
  
  .pb56 {
    padding-bottom: 56px;
  }
  
  .pb64 {
    padding-bottom: 64px;
  }
  
  .pb72 {
    padding-bottom: 72px;
  }
  
  .pb80 {
    padding-bottom: 80px;
  }
  
  .pb88 {
    padding-bottom: 88px;
  }
  
  .pb96 {
    padding-bottom: 96px;
  }
  
  .pb104 {
    padding-bottom: 104px;
  }
  
  .pb112 {
    padding-bottom: 112px;
  }
  
  .pb120 {
    padding-bottom: 120px;
  }
  
  .pb160 {
    padding-bottom: 160px;
  }
  
  .pb180 {
    padding-bottom: 180px;
  }
  
  .pb240 {
    padding-bottom: 240px;
  }
  
  @media all and (max-width: 990px) {
    .mb-s-0 {
        margin-bottom: 0;
    }
  
    .mb-s-8 {
        margin-bottom: 8px;
    }
  
    .mb-s-16 {
        margin-bottom: 16px;
    }
  
    .mb-s-24 {
        margin-bottom: 24px;
    }
  
    .mb-s-32 {
        margin-bottom: 32px;
    }
  
    .mb-s-40 {
        margin-bottom: 40px;
    }
  
    .mb-s-48 {
        margin-bottom: 48px;
    }
  
    .mb-s-64 {
        margin-bottom: 64px;
    }
  
    .mb-s-72 {
        margin-bottom: 72px;
    }
  
    .mb-s-80 {
        margin-bottom: 80px;
    }
  
    .mb-s-88 {
        margin-bottom: 88px;
    }
  
    .mb-s-96 {
        margin-bottom: 96px;
    }
  
    .mb-s-104 {
        margin-bottom: 104px;
    }
  
    .mb-s-112 {
        margin-bottom: 112px;
    }
  
    .mb-s-120 {
        margin-bottom: 120px;
    }
  }
  
  @media all and (max-width: 990px) {
    .mb-sm-0 {
        margin-bottom: 0;
    }
  
    .mb-sm-8 {
        margin-bottom: 8px;
    }
  
    .mb-sm-16 {
        margin-bottom: 16px;
    }
  
    .mb-sm-24 {
        margin-bottom: 24px;
    }
  
    .mb-sm-32 {
        margin-bottom: 32px;
    }
  
    .mb-sm-40 {
        margin-bottom: 40px;
    }
  
    .mb-sm-48 {
        margin-bottom: 48px;
    }
  
    .mb-sm-64 {
        margin-bottom: 64px;
    }
  
    .mb-sm-72 {
        margin-bottom: 72px;
    }
  
    .mb-sm-80 {
        margin-bottom: 80px;
    }
  
    .mb-sm-88 {
        margin-bottom: 88px;
    }
  
    .mb-sm-96 {
        margin-bottom: 96px;
    }
  
    .mb-sm-104 {
        margin-bottom: 104px;
    }
  
    .mb-sm-112 {
        margin-bottom: 112px;
    }
  
    .mb-sm-120 {
        margin-bottom: 120px;
    }
  
    .mt-sm-0 {
        margin-top: 0 !important;
    }
  
    .mt-sm-8 {
        margin-top: 8px;
    }
  
    .mt-sm-16 {
        margin-top: 16px;
    }
  
    .mt-sm-24 {
        margin-top: 24px;
    }
  
    .mt-sm-32 {
        margin-top: 32px;
    }
  
    .mt-sm-40 {
        margin-top: 40px;
    }
  
    .mt-sm-48 {
        margin-top: 48px;
    }
  
    .mt-sm-56 {
        margin-top: 56px;
    }
  
    .mt-sm-64 {
        margin-top: 64px;
    }
  
    .mt-sm-72 {
        margin-top: 72px;
    }
  
    .mt-sm-80 {
        margin-top: 80px;
    }
  
    .mt-sm-88 {
        margin-top: 88px;
    }
  
    .mt-sm-96 {
        margin-top: 96px;
    }
  
    .mt-sm-104 {
        margin-top: 104px;
    }
  
    .mt-sm-112 {
        margin-top: 112px;
    }
  
    .mt-sm-120 {
        margin-top: 120px;
    }
  
    .p0-sm {
        padding: 0;
    }
  
    .pt-sm-0 {
        padding-top: 0;
    }
  
    .pt-sm-8 {
        padding-top: 8px;
    }
  
    .pt-sm-16 {
        padding-top: 16px;
    }
  
    .pt-sm-24 {
        padding-top: 24px;
    }
  
    .pt-sm-32 {
        padding-top: 32px;
    }
  
    .pt-sm-40 {
        padding-top: 40px;
    }
  
    .pt-sm-48 {
        padding-top: 48px;
    }
  
    .pt-sm-64 {
        padding-top: 64px;
    }
  
    .pt-sm-72 {
        padding-top: 72px;
    }
  
    .pt-sm-80 {
        padding-top: 80px;
    }
  
    .pt-sm-88 {
        padding-top: 88px;
    }
  
    .pt-sm-96 {
        padding-top: 96px;
    }
  
    .pt-sm-104 {
        padding-top: 104px;
    }
  
    .pt-sm-112 {
        padding-top: 112px;
    }
  
    .pt-sm-120 {
        padding-top: 120px;
    }
  
    .pt-sm-160 {
        padding-top: 160px;
    }
  
    .pb-sm-0 {
        padding-bottom: 0;
    }
  
    .pb-sm-8 {
        padding-bottom: 8px;
    }
  
    .pb-sm-16 {
        padding-bottom: 16px;
    }
  
    .pb-sm-24 {
        padding-bottom: 24px;
    }
  
    .pb-sm-32 {
        padding-bottom: 32px;
    }
  
    .pb-sm-40 {
        padding-bottom: 40px;
    }
  
    .pb-sm-48 {
        padding-bottom: 48px;
    }
  
    .pb-sm-64 {
        padding-bottom: 64px;
    }
  
    .pb-sm-72 {
        padding-bottom: 72px;
    }
  
    .pb-sm-80 {
        padding-bottom: 80px;
    }
  
    .pb-sm-88 {
        padding-bottom: 88px;
    }
  
    .pb-sm-96 {
        padding-bottom: 96px;
    }
  
    .pb-sm-104 {
        padding-bottom: 104px;
    }
  
    .pb-sm-112 {
        padding-bottom: 112px;
    }
  
    .pb-sm-120 {
        padding-bottom: 120px;
    }
  }
  
  @media all and (max-width: 767px) {
    .mb-xs-0 {
        margin-bottom: 0;
    }
  
    .mb-xs-8 {
        margin-bottom: 8px;
    }
  
    .mb-xs-16 {
        margin-bottom: 16px;
    }
  
    .mb-xs-24 {
        margin-bottom: 24px;
    }
  
    .mb-xs-32 {
        margin-bottom: 32px;
    }
  
    .mb-xs-40 {
        margin-bottom: 40px;
    }
  
    .mb-xs-48 {
        margin-bottom: 48px;
    }
  
    .mb-xs-64 {
        margin-bottom: 64px;
    }
  
    .mb-xs-72 {
        margin-bottom: 72px;
    }
  
    .mb-xs-80 {
        margin-bottom: 80px;
    }
  
    .mb-xs-88 {
        margin-bottom: 88px;
    }
  
    .mb-xs-96 {
        margin-bottom: 96px;
    }
  
    .mb-xs-104 {
        margin-bottom: 104px;
    }
  
    .mb-xs-112 {
        margin-bottom: 112px;
    }
  
    .mb-xs-120 {
        margin-bottom: 120px;
    }
  
    .mt-xs-0 {
        margin-top: 0 !important;
    }
  
    .mt-xs-8 {
        margin-top: 8px;
    }
  
    .mt-xs-16 {
        margin-top: 16px;
    }
  
    .mt-xs-24 {
        margin-top: 24px;
    }
  
    .mt-xs-32 {
        margin-top: 32px;
    }
  
    .mt-xs-40 {
        margin-top: 40px;
    }
  
    .mt-xs-48 {
        margin-top: 48px;
    }
  
    .mt-xs-56 {
        margin-top: 56px;
    }
  
    .mt-xs-64 {
        margin-top: 64px;
    }
  
    .mt-xs-72 {
        margin-top: 72px;
    }
  
    .mt-xs-80 {
        margin-top: 80px;
    }
  
    .mt-xs-88 {
        margin-top: 88px;
    }
  
    .mt-xs-96 {
        margin-top: 96px;
    }
  
    .mt-xs-104 {
        margin-top: 104px;
    }
  
    .mt-xs-112 {
        margin-top: 112px;
    }
  
    .mt-xs-120 {
        margin-top: 120px;
    }
  
    .p0-xs {
        padding: 0;
    }
  
    .pt-xs-0 {
        padding-top: 0;
    }
  
    .pt-xs-8 {
        padding-top: 8px;
    }
  
    .pt-xs-16 {
        padding-top: 16px;
    }
  
    .pt-xs-24 {
        padding-top: 24px;
    }
  
    .pt-xs-32 {
        padding-top: 32px;
    }
  
    .pt-xs-40 {
        padding-top: 40px;
    }
  
    .pt-xs-48 {
        padding-top: 48px;
    }
  
    .pt-xs-64 {
        padding-top: 64px;
    }
  
    .pt-xs-72 {
        padding-top: 72px;
    }
  
    .pt-xs-80 {
        padding-top: 80px;
    }
  
    .pt-xs-88 {
        padding-top: 88px;
    }
  
    .pt-xs-96 {
        padding-top: 96px;
    }
  
    .pt-xs-104 {
        padding-top: 104px;
    }
  
    .pt-xs-112 {
        padding-top: 112px;
    }
  
    .pt-xs-120 {
        padding-top: 120px;
    }
  
    .pt-xs-160 {
        padding-top: 160px;
    }
  
    .pt-xs-180 {
        padding-top: 180px;
    }
  
    .pt-xs-240 {
        padding-top: 240px !important;
    }
  
    .pb-xs-0 {
        padding-bottom: 0;
    }
  
    .pb-xs-8 {
        padding-bottom: 8px;
    }
  
    .pb-xs-16 {
        padding-bottom: 16px;
    }
  
    .pb-xs-24 {
        padding-bottom: 24px;
    }
  
    .pb-xs-32 {
        padding-bottom: 32px;
    }
  
    .pb-xs-40 {
        padding-bottom: 40px;
    }
  
    .pb-xs-48 {
        padding-bottom: 48px;
    }
  
    .pb-xs-64 {
        padding-bottom: 64px;
    }
  
    .pb-xs-72 {
        padding-bottom: 72px;
    }
  
    .pb-xs-80 {
        padding-bottom: 80px;
    }
  
    .pb-xs-88 {
        padding-bottom: 88px;
    }
  
    .pb-xs-96 {
        padding-bottom: 96px;
    }
  
    .pb-xs-104 {
        padding-bottom: 104px;
    }
  
    .pb-xs-112 {
        padding-bottom: 112px;
    }
  
    .pb-xs-120 {
        padding-bottom: 120px;
    }
  
    .pb-xs-180 {
        padding-bottom: 180px;
    }
  
    .pb-xs-240 {
        padding-bottom: 240px !important;
    }
  }
  @media all and (max-width: 990px) {

    .page-title-4 .breadcrumb,
    .page-title-2 .breadcrumb {
        float: left;
        margin-top: 32px;
    }
  }
  
  @media all and (max-width: 767px) {
    .breadcrumb-2>li+li:before {
        padding: 0 4px;
    }
  
    .page-title-4 .breadcrumb,
    .page-title-2 .breadcrumb {
        float: left;
        margin-top: 8 px;
    }
  }
  .page-title {
    padding: 0;
  }
  
  .page-title .container {
    position: relative;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    top: 50%;
    z-index: 2;
  }
  
  .page-title i {
    position: relative;
    top: 1px;
  }
  
  @media all and (max-width: 767px) {
    .page-title i {
        display: none;
    }
  }
  
  .page-title-1,
  .page-title-2 {
    height: 400px;
  }
  
  .page-title-1 .breadcrumb,
  .page-title-3 .breadcrumb {
    position: absolute;
    z-index: 3;
    width: 100%;
    text-align: center;
    bottom: 0;
  }
  
  .page-title-2 .breadcrumb {
    position: relative;
    margin-bottom: 0;
  }
  
  
  
  @media all and (max-width: 767px) {
  
    .page-title-1,
    .page-title-2 {
        height: 320px;
    }
  }
  
  .page-title-3,
  .page-title-4 {
    height: 240px;
  }
  
  .page-title-4 .breadcrumb {
    position: relative;
    top: 8px;
    margin-bottom: 0;
  }
  
  
  
  @media all and (max-width: 767px) {
    .page-title .text-right {
        text-align: left !important;
    }
  }
  
  .page-title.fullscreen {
    height: 100vh !important;
    padding-top: 0;
  }
  .overlay .fs-vid-background:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #222222;
    opacity: 0.5;
    z-index: 2;
  }
  .overlay:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #292929;
    opacity: 0.3;
    z-index: 2;
  }
  
  .overlay-heavy:before {
    opacity: .6;
  }
  
  .bg-light.overlay:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffffff;
    opacity: 0.1;
    z-index: 2;
  }
  .parallax>.background-image-holder,
.parallax .slides li>.background-image-holder {
  height: 100vh;
  top: -50vh;
  transition: all 0s ease !important;
  transition: opacity 0.3s ease !important;
  -webkit-transform-style: preserve-3d;
}

.parallax:first-child .slides li>.background-image-holder,
.parallax:first-child .background-image-holder {
  top: 0;
}

.main-container>a:first-child+.parallax .background-image-holder {
  top: 0;
}

@media all and (max-width: 767px) {

  .parallax>.background-image-holder,
  .parallax .slides li>.background-image-holder {
      top: 0 !important;
      transform: none !important;
      -webkit-transform: none !important;
  }
}
.breadcrumb-2 {
    background: none;
    padding: 0;
  }
  
  .breadcrumb-2 li a,
  .breadcrumb-2 li {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 11px;
    font-weight: 600;
  }
  
  .breadcrumb-2>li+li:before {
    padding: 0 16px;
    color: #bbb;
  }
